    <header class="navbar fixed-top bg-black">
      <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav class="nav navbar navbar-expand-sm">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li>
              <div class="dropdown">
                <button type="button" id="account" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Account 
                </button>
                <ul id="dropdown-menu" class="dropdown-menu">
                  <li><%= link_to "Profile", current_user ,class: "dropdown-item"%></li>
                  <li><%= link_to "Settings", '#' ,class: "dropdown-item"%></li>
                  <li>
                    <%= link_to "Log out", logout_path,
                                          data: { "turbo-method": :delete } ,class:"dropdown-item"%>
                  </li>
                </ul>
              </div>
            </li>
            <li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header>